In [2]:
import pandas as pd

In [3]:

data=pd.read_csv("D:\\DATA_science\\DATA_science assignment\SVM\\forestfires.csv")

In [4]:
data.head()

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,...,0,0,0,0,1,0,0,0,0,small
1,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,...,0,0,0,0,0,0,0,1,0,small
2,oct,sat,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,...,0,0,0,0,0,0,0,1,0,small
3,mar,fri,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,...,0,0,0,0,1,0,0,0,0,small
4,mar,sun,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,...,0,0,0,0,1,0,0,0,0,small

In [5]:
data.shape

(517, 31)

In [6]:
data.describe()  ## Normalization of data required

,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,dayfri,...,monthdec,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep
count,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,...,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000
mean,90.644681,110.872340,547.940039,9.021663,18.889168,44.288201,4.017602,0.021663,12.847292,0.164410,...,0.017408,0.038685,0.003868,0.061896,0.032882,0.104449,0.003868,0.001934,0.029014,0.332689
std,5.520111,64.046482,248.066192,4.559477,5.806625,16.317469,1.791653,0.295959,63.655818,0.371006,...,0.130913,0.193029,0.062137,0.241199,0.178500,0.306138,0.062137,0.043980,0.168007,0.471632
min,18.700000,1.100000,7.900000,0.000000,2.200000,15.000000,0.400000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,90.200000,68.600000,437.700000,6.500000,15.500000,33.000000,2.700000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,91.600000,108.300000,664.200000,8.400000,19.300000,42.000000,4.000000,0.000000,0.520000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,92.900000,142.400000,713.900000,10.800000,22.800000,53.000000,4.900000,0.000000,6.570000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,96.200000,291.300000,860.600000,56.100000,33.300000,100.000000,9.400000,6.400000,1090.840000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [7]:
data.info()   ## There are not null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 31 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   month          517 non-null    object
 1   day            517 non-null    object
 2   FFMC           517 non-null    float64
 3   DMC            517 non-null    float64
 4   DC             517 non-null    float64
 5   ISI            517 non-null    float64
 6   temp           517 non-null    float64
 7   RH             517 non-null    int64
 8   wind           517 non-null    float64
 9   rain           517 non-null    float64
 10  area           517 non-null    float64
 11  dayfri         517 non-null    int64
 12  daymon         517 non-null    int64
 13  daysat         517 non-null    int64
 14  daysun         517 non-null    int64
 15  daythu         517 non-null    int64
 16  daytue         517 non-null    int64
 17  daywed         517 non-null    int64
 18  monthapr       517 non-null    int64
 19  monthaug       517 non-null    int64
 20  monthdec       517 non-null    int64
 21  monthfeb       517 non-null    int64
 22  monthjan       517 non-null    int64
 23  monthjul       517 non-null    int64
 24  monthjun       517 non-null    int64
 25  monthmar       517 non-null    int64
 26  monthmay       517 non-null    int64
 27  monthnov       517 non-null    int64
 28  monthoct       517 non-null    int64
 29  monthsep       517 non-null    int64
 30  size_category  517 non-null    object
dtypes: float64(8), int64(20), object(3)
memory usage: 125.3+ KB

#### Dropping duplicates

In [8]:
data[data.duplicated()]

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
53,aug,wed,92.1,111.2,654.1,9.6,20.4,42,4.9,0.0,...,0,0,0,0,0,0,0,0,0,small
100,aug,sun,91.4,142.4,601.4,10.6,19.8,39,5.4,0.0,...,0,0,0,0,0,0,0,0,0,small
215,mar,sat,91.7,35.8,80.8,7.8,17.0,27,4.9,0.0,...,0,0,0,0,1,0,0,0,0,large
303,jun,fri,91.1,94.1,232.1,7.1,19.2,38,4.5,0.0,...,0,0,0,1,0,0,0,0,0,small
426,aug,thu,91.6,248.4,753.8,6.3,20.4,56,2.2,0.0,...,0,0,0,0,0,0,0,0,0,small
461,aug,sat,93.7,231.1,715.1,8.4,18.9,64,4.9,0.0,...,0,0,0,0,0,0,0,0,0,small
501,aug,tue,96.1,181.1,671.2,14.3,21.6,65,4.9,0.8,...,0,0,0,0,0,0,0,0,0,small
508,aug,fri,91.0,166.9,752.6,7.1,25.9,41,3.6,0.0,...,0,0,0,0,0,0,0,0,0,small

In [9]:
df=data.copy()

In [10]:
df1=pd.DataFrame(df.drop_duplicates())

In [11]:
df2=df1.drop(df1.columns[[0,1]],axis=1);  ## These columns are already present in dataset

In [12]:
df2.shape

(509, 29)

#### Encoding

In [13]:
from sklearn.preprocessing import LabelEncoder

In [14]:
df2.iloc[:,-1]=LabelEncoder().fit_transform(df2.iloc[:,-1])

In [15]:
df2.head(2)

,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,dayfri,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,0.0,1,...,0,0,0,0,1,0,0,0,0,1
1,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,0.0,0,...,0,0,0,0,0,0,0,1,0,1

In [16]:
df3=df2.copy()

In [17]:
#df4=pd.get_dummies(df3)

In [18]:
df3.head(2)

,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,dayfri,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,0.0,1,...,0,0,0,0,1,0,0,0,0,1
1,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,0.0,0,...,0,0,0,0,0,0,0,1,0,1

#### To find outliers

In [19]:
from sklearn.ensemble import IsolationForest
clf=IsolationForest(random_state=400,contamination=0.04)
clf.fit(df3)

y_pred_outliers = clf.predict(df3)
y_pred_outliers

df3['scores']=clf.decision_function(df3)
df3['anomaly']=clf.predict(df3.iloc[:,0:31])

df3[df3['anomaly']==-1]

ValueError: Number of features of the model must match the input. Model n_features is 29 and input n_features is 30.

In [ ]:
df4=df3.drop(df3.index[[97,104,196,176,273,277,278,280,281,284,286,299,379,415,422,463,464,465,469,474,475,499]],axis=0)

In [ ]:
df4.head(2)

In [ ]:
df4.shape

In [ ]:
df5=df4.drop(df4.columns[[29,30]],axis=1)
array=df5.values
x=array[:,0:28]
y=df4.iloc[:,28]
y;

In [ ]:
df5.shape

In [ ]:
df5.head(2)

In [ ]:
df4.groupby('size_category').count()  ## It shows our data is imbalanced

In [ ]:
from sklearn import preprocessing
# Get column names first
names = df5.columns
# Create the Scaler object
scaler = preprocessing.StandardScaler()
# Fit your data on the scaler object
scaled_df = scaler.fit_transform(df5)
scaled_df = pd.DataFrame(scaled_df, columns=names)

In [ ]:
scaled_df.head()

In [ ]:
scaled_df.groupby('size_category').count()

In [ ]:
# Feature Extraction with RFE
#from pandas import read_csv
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression

# feature extraction
model = LogisticRegression(max_iter=400)
rfe = RFE(model, 20)
fit = rfe.fit(x, y)

In [ ]:
fit.n_features_

In [ ]:
fit.support_

In [ ]:
fit.ranking_

In [ ]:
df6=df5.drop(df5.columns[[1,2,7,16,20,22,24,25]],axis=1)

In [ ]:
df6.shape

In [ ]:
array1=df6.values
x1=array1[:,0:20]
y1=array1[:,20]

In [ ]:
from sklearn import svm
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report


from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split, cross_val_score

In [ ]:
x1_train,x1_test,y1_train,y1_test=train_test_split(x1,y1,test_size=0.3)

In [ ]:
x1_train.shape,x1_test.shape,y1_train.shape,y1_test.shape

In [ ]:
## linear, rbf, poly, sigmoid, tangent >>> I used the kernels giving the same result
clf=SVC()
param_grid={'kernel':['tangent'],'gamma':[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,
                                       24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40],'C':[1,2,3,4,5,6,7,8,9,10,11,12,13,
                                                                                                14,15,16,17,18,19,2021,22,23,24,
                                                                                                25,26,27,28,29,30,31,32,33,34,35,
                                                                                               36,37,38,39,40]}
gsv=GridSearchCV(clf,param_grid,cv=8)
gsv.fit(x1_train,y1_train)

In [ ]:
gsv.best_params_ , gsv.best_score_

In [ ]:
clf = SVC(C= 1, gamma = 1)
clf.fit(x1_train , y1_train)

y_pred = clf.predict(x1_test)
y_pred1 = clf.predict(x1_train)


acc = accuracy_score(y1_test, y_pred) * 100
acc1 = accuracy_score(y1_train, y_pred1) * 100

print("Accuracy_test =", acc)
print("Accuracy1_train =", acc1)


confusion_matrix(y1_test, y_pred),  confusion_matrix(y1_train, y_pred1)